@use '../../sassStyles/base';

.details {
  width: 95%;
  height: 87%;
  margin: 3vh auto;
  display: flex;
  align-items: center;

  .image-container {
    z-index: 2;
    background-color: base.$base-white;
    height: 100%;
    width: 37%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 15px #00347026;
    border-radius: 5px;

    img {
      height: 90%;
      max-width: 95%;
      width: auto;
      border-radius: 5px;
    }
  }

  .book-data {
    margin-left: -20px;
    height: 63.8%;
    flex: 1;
    background-color: base.$base-white;
    box-shadow: 0px 5px 15px #00347026;
    border-radius: 5px;

    .title-container {
      width: 100%;
      height: 13.3%;
      background-color: base.$base-green;
      border-radius: 5px;
      padding-left: 60px;
      display: flex;
      align-items: center;

      h1 {
        font-size: 22px;
        font-weight: bold;
        color: base.$base-white;
        text-transform: uppercase;
      }
    }

    .body-details {
      overflow: hidden;
      margin-left: 60px;
      margin-top: 2%;
      margin-bottom: 2%;
      height: 79.7%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 50px;

      .general-info {
        flex: 2;
        // height: 35%;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .author-details {
          font-weight: bold;
          font-size: 20px;
          color: base.$base-blue;
        }

        .span-details {
          font-weight: bold;
        }
      }
      .description {
        // height: 35%;
        flex: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 16px;

        h3 {
          font-weight: bold;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .details {
    flex-direction: column;

    .book-data {
      margin-left: 0;
      height: 100%;

      .title-container {
        height: 78px;
        border-radius: 3px;
        padding: 0 12px;

        h1 {
          font-size: 18px;
        }
      }

      .body-details {
        overflow: hidden;
        margin: 0 12px;
        margin-top: 2%;
        margin-bottom: 2%;
        height: 79.7%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 50px;

        .general-info {
          margin-top: 20px;
          flex: none;
          min-height: 150px;
          font-size: 16px;

          .author-details {
            font-weight: bold;
            font-size: 18px;
          }

          .span-details {
            font-weight: bold;
          }
        }

        .description {
          flex: none;

          h3 {
            margin-bottom: 20px;
            font-size: 16;
          }
        }
      }
    }
  }
}
