@use '../../sassStyles/base';

#page {
  background-color: #fafafa;
  height: 100vh;
}

#nav-background {
  width: 100%;
  height: 63px;
  background-color: base.$base-white;
  box-shadow: 0px 3px 6px #00000029;

  // nav {
  //   height: 100%;
  //   width: 13%;
  //   min-width: 150px;
  //   display: flex;
  //   justify-content: space-between;
  //   gap: 20px;
  // }
  // #links-ham {
  //   background-color: red;
  //   height: 240px;
  //   width: 100vw;
  //   z-index: 10;
  //   position: relative;
  //   border-radius: 0px 0px 10px 10px;
  //   box-shadow: 0px 3px 6px #00000029;
  //   padding-left: 20px;
  //   padding-top: 40px;

  //   .link-container {
  //     display: block;
  //     align-items: flex-start;
  //     flex-direction: column;

  //     a {
  //       text-transform: uppercase;
  //       text-decoration: none;
  //       color: base.$base-black;
  //     }
  //   }

  //   .active {
  //     border-bottom: 5px solid base.$base-green;

  //     a {
  //       font-weight: bold;
  //     }
  //   }
  // }
}

.container {
  width: 95%;
  height: 100%;
  margin: auto;
}

#navbar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  .ham-menu-icon {
    display: none;
    width: auto;
    height: 35px;
    color: base.$base-green;
    cursor: pointer;
  }

  #logo {
    height: 45%;
    width: auto;
  }

  a {
    text-decoration: none;

    .back-btn {
      display: flex;
      align-items: center;
      color: base.$base-black;
      gap: 18px;

      svg {
        height: 22px;
        width: auto;
      }

      span {
        font-size: 18px;
      }
    }
  }

  #links {
    height: 100%;
    width: 13%;
    min-width: 150px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-left: -5%;
  }

  .edge-container {
    width: 7.2%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    svg {
      cursor: pointer;
    }
  }
}

.link-container {
  display: flex;
  align-items: center;

  text-transform: uppercase;
  text-decoration: none;
  color: base.$base-black;
}

.active {
  border-bottom: 5px solid base.$base-green;
  font-weight: bold;
}

#links-ham {
  display: none;
}

@media (max-width: 800px) {
  page {
    background-color: base.$base-white;
  }
  #navbar {
    .ham-menu-icon {
      display: block;
    }
    #links {
      display: none;
    }
  }

  #links-ham {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 240px;
    position: relative;
    z-index: 5;
    background-color: base.$base-white;
    padding-right: 82%;
    padding-left: 5%;
    padding-top: 40px;
    padding-bottom: 50px;
    a {
      padding-bottom: 5px;
    }
  }
}

// height: 100%;
//   width: 13%;
//   min-width: 150px;
//   display: flex;
//   justify-content: space-between;
//   gap: 20px;
// }
// #links-ham {
//   background-color: red;
//   height: 240px;
//   width: 100vw;
//   z-index: 10;
//   position: relative;
//   border-radius: 0px 0px 10px 10px;
//   box-shadow: 0px 3px 6px #00000029;
//   padding-left: 20px;
//   padding-top: 40px;
