@use '../../sassStyles/base';

.book-card {
  box-shadow: 0px 3px 6px #00000017;
  background-color: base.$base-white;
  height: 180px;
  border-radius: 10px;

  display: flex;
  justify-content: space-between;
  flex-basis: auto;
  gap: 26px;

  img {
    height: 100%;
    width: 125px;
    border-radius: 10px;
  }

  .info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    h2 {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 18px;
    }

    .author {
      font-weight: bold;
      font-size: 16px;
      color: base.$base-blue;
    }

    .span-info {
      font-weight: bold;
    }

    .dates {
      display: flex;
      gap: 45px;
    }
  }

  button {
    border: none;
    width: 34px;
    border-radius: 10px;
    background-color: base.$base-blue;
    cursor: pointer;

    .play-icon {
      width: 22px;
      height: auto;
      color: base.$base-white;
    }
  }
}

@media (max-width: 800px) {
  .book-card {
    flex-direction: column;
    align-items: center;
    height: 390px;
    width: 100%;

    img {
      height: 136px;
      width: 96px;
    }

    .info {
      align-items: center;
      font-size: 14px;
      .dates {
        width: 100%;
        display: flex;
        justify-content: space-around;
        gap: 14px;
        margin: 0 2%;
      }
    }

    button {
      width: 100%;
      height: 34px;
    }
  }
}
