@use '../../sassStyles/base';

#register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4.25vh;
  width: 500px;

  h1 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 2vh;
    width: 68%;
    text-align: center;
    line-height: 30px;
  }

  h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 1.5vh;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;

    .form-element {
      width: 100%;

      display: flex;
      flex-direction: column;
      margin-top: 4.1vh;

      label {
        font-weight: 300;
        font-size: 16px;
      }
      input {
        height: 42px;
        width: 100%;
        margin-top: 0.8vh;
        padding-left: 8px;

        border: 0.5px solid #0d242e;
        border-radius: 5px;

        font-family: inherit;
        font-size: inherit;
        font-weight: 500;
      }

      .password-field {
        display: flex;
        align-items: center;
      }

      .eye-icon {
        margin-left: -40px;
        margin-top: 0.9vh;
        height: 25px;
        width: auto;
        color: #c2c2c2;
      }
      .active {
        color: base.$base-green;
      }
    }

    #recover {
      color: base.$base-blue;
      align-self: flex-end;
      font-size: 12px;
      margin-top: 0.8vh;
    }

    button {
      margin-top: 10vh;
      height: 42px;
      width: 100%;
      max-width: 500px;
      background: base.$base-blue;
      border-radius: 5px;
      border: none;
      color: #fff;
      font-weight: 700;
      opacity: 0.5;
    }

    .active-btn {
      opacity: 1;
      cursor: pointer;
    }
  }

  #alternative-access {
    color: base.$base-black;
    margin-top: 5.5vh;

    a {
      color: base.$base-green;
      font-size: 16px;
      font-weight: 700;
    }
  }
}

@media (max-width: 750px) {
  #register-form {
    width: 90%;
    background-color: base.$base-white;
    opacity: 0.85;
    border-radius: 8px;
    margin-top: 6.5vh;
    padding-top: 3.8vh;
    padding-bottom: 4.3vh;

    h1 {
      margin-bottom: 2vh;
    }
    h2 {
      margin-bottom: 0px;
    }
    form {
      align-items: center;
      .form-element {
        width: 92.5%;
      }

      #recover {
        margin-right: 3.75%;
      }

      button {
        width: 92.5%;
      }
    }
  }
}
